<!DOCTYPE HTML>

<html>
	<head>
		<title>Ada</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="#top">Top</a></li>
					<li><a href="#work">My Friends</a></li>
					<li><a href="#portfolio">Hezky den</a></li>
				</ul>
			</nav>

		<!-- Part 1 -->
			<div class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u 12u(mobile)">
							<span class="image fit"><img src="images/pic00.jpg" alt="" /></span>
						</div>
						<div class="8u 12u(mobile)">
							<header>
								<h1>Ahoj! I'm <strong>Ada</strong>.</h1>
							</header>
							<p>And this is <strong>supposed</strong> to be my resume. Since I don't like writing about myself, I can show you my friends. </p>
							<a href="#work" class="button big scrolly">See my friends</a>
						</div>
					</div>
				</article>
			</div>

		<!-- Part 2 -->
			<div class="wrapper style2">
				<article id="work">
					<header>
						<h2>Here's how we spend our time</h2>
						<p>A picture is worth a thousand words.</p>
					</header>
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="image fit"><img src="images/pic01.jpg" alt="" /></span>
									<h3>We drink</h3>
									<p>One of the lovely parts of student life in dorms in Prague are parties. Especially Miss Agro!</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="image fit"><img src="images/pic02.jpg" alt="" /></span>
									<h3>We eat</h3>
									<p>Another amazing thing is having international friends and preparing all those stunning dinners!</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="image fit"><img src="images/pic03.jpg" alt="" /></span>
									<h3>We travel</h3>
									<p>Last, but not least is a possibility to travel across Europe. Like this beach in Greece!</p>
								</section>
							</div>
						</div>
					</div>
				</article>
			</div>

		<!-- Part 3 -->
			<div class="wrapper style3">
				<article id="portfolio">
					<header>
						<h2>That is everything I wanted to show you.</h2>
						<p>It was my pleasure to attend this study block! Hezky den :) </p>
					</header>


		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>